.support{
    height: 100px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    width: 500px;
    height: 300px;
    margin: auto;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex-item{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family: monospace;
}


#title{
    font-size: 6rem;
    font-weight: lighter;
}


@media only screen and (max-width: 600px){
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.75);
        width: 300px;
        height: 230px;
        margin: auto;
    }
    .flex-item{
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        font-family: monospace;
    }
    .support{
        height: 70px;
    }
    
    #title{
        font-size: 3.5rem;
        font-weight: lighter;
    }
}